@font-face {
    font-family: "Playfair Display";
    src: url('/fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: "Bitter";
    src: url('/fonts/Bitter/static/Bitter-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Roboto Bold";
    src: url('//fonts/Roboto/Roboto-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
} 

@font-face {
    font-family: "Roboto Regular";
    src: url('/fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
}

/* @font-face {
    font-family: "Inter Regular";
    src: url('//fonts/Inter/static/Inter-Regular.ttf');
    font-weight: 400;
} */

/* @font-face {
    font-family: "Playfair Display Regular";
    src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf');
    font-weight: 400;
} */

/* @font-face {
    font-family: "Bitter Bold";
    src: url('//fonts/Bitter/static/Bitter-Bold.ttf');
    font-weight: 700;
}



/* @font-face {
    font-family: "Bitter Light";
    src: url('//fonts/Bitter/static/Bitter-Light.ttf');
    font-weight: 300;
} */ 



@font-face {
    font-family: "Playfair Display";
    src: url('/fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: "Bitter";
    src: url('/fonts/Bitter/static/Bitter-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Roboto Bold";
    src: url('//fonts/Roboto/Roboto-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
} 

@font-face {
    font-family: "Roboto Regular";
    src: url('/fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
}

/* @font-face {
    font-family: "Inter Regular";
    src: url('//fonts/Inter/static/Inter-Regular.ttf');
    font-weight: 400;
} */

/* @font-face {
    font-family: "Playfair Display Regular";
    src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf');
    font-weight: 400;
} */

/* @font-face {
    font-family: "Bitter Bold";
    src: url('//fonts/Bitter/static/Bitter-Bold.ttf');
    font-weight: 700;
}



/* @font-face {
    font-family: "Bitter Light";
    src: url('//fonts/Bitter/static/Bitter-Light.ttf');
    font-weight: 300;
} */ 



* {
    margin: 0;
    padding: 0;
}


body {
    background-color: bisque;
    margin: 0;
}



