@font-face {
    font-family: "Playfair Display";
    src: url('/fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: "Bitter";
    src: url('/fonts/Bitter/static/Bitter-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Roboto Bold";
    src: url('//fonts/Roboto/Roboto-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
} 

@font-face {
    font-family: "Roboto Regular";
    src: url('/fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
}

/* @font-face {
    font-family: "Inter Regular";
    src: url('//fonts/Inter/static/Inter-Regular.ttf');
    font-weight: 400;
} */

/* @font-face {
    font-family: "Playfair Display Regular";
    src: url('../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf');
    font-weight: 400;
} */

/* @font-face {
    font-family: "Bitter Bold";
    src: url('//fonts/Bitter/static/Bitter-Bold.ttf');
    font-weight: 700;
}



/* @font-face {
    font-family: "Bitter Light";
    src: url('//fonts/Bitter/static/Bitter-Light.ttf');
    font-weight: 300;
} */ 



* {
    margin: 0;
    padding: 0;
}



body{
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 16px;
    background-color: white;
    
    
}




.nav{
    min-height: 135px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 20px;
}

.nav-list{

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 55px;
    flex: 1 0 0;
    list-style: none;
}

.menu-link{
    text-decoration: none;
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
}


.nav_title-page {
    /* width: 1440px; */
    height: 630px;
    flex-shrink: 0;
    background: url("/img/title_page_1.jpg"), lightgray 0px -464.632px / 100% 242.111% no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.nav_title-text {
    display: flex;
    width: 690px;
    padding: 110px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    background-color: #FFF;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;  
} 

.nav-link:hover {
    text-decoration: underline;
}


.title-site {
    text-align: center;
    color: #000;
    font-family: 'Playfair Display';
    font-size: 86px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;  /* 103.2px */
}

.title-label {
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* section biography  */

.title {
    color: #000;
    text-align: right;
    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}




.biography-container {

    display: flex;
    width: auto;
    height: auto;
    gap: 139px;    
    justify-content: center;

    /* display: flex;
    justify-content: center;
    margin-bottom: 150px; */



    /* margin-top: 150px;
    height: 840px;
    display: flex;
    justify-content: center;
    position: relative; */

    /* display: flex;
    justify-content: center; */
    /* align-items: center;
    margin-top: 150px;
    margin-bottom: 150px; */
}

.procherk{
    width:20px;
    height: 6px;
    background-color: #0d0d0d;
}
.biography2{
    width: 590px;
    display: flex;
}
.biography-title {

    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-left: 25px;
    align-self: flex-start;
    display: flex;


     /* margin-top: 150px;
    height: 840px;
    display: flex;
    justify-content: center;
    position: relative; */

    /* width: 115px;
    height: 23px;
    transform: rotate(-90deg);
    flex-shrink: 0; */
}



.biography-name-container {
    display: flex;
    width: 455px;
    height: 840px;
    padding: 18px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 36px;
    flex-shrink: 0;


    /* display: flex;
    flex-direction: column;
    gap: 36px;
    width: 32.5%;
    max-width: 500px; */
}

.biography-vert {

    /* writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-left: 2%;
    margin-right: 6%;
    align-self: flex-start; */

  
    
    /* display: flex;
    flex-direction: column;
    gap: 36px;
    width: 32.5%;
    max-width: 500px; */
}
    
    

    

.biography-picture {
    width: 100%;
    /* flex-shrink: 0; */
    /* width: 571px;
    height: 840px;
    flex-shrink: 0; */

}







.top-manager-name {
    color: #000;
    font-family: 'Playfair Display';
    font-size: 86px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Position {
    color: #0D0D0D;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Skills {
    color: #0D0D0D;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.quote {
    color: #0D0D0D;
    font-family: 'Bitter',serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.designer-name {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.description {
    color: #000;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.description>span{
    font-weight: 700;
}


.site {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.link {
    color: #000;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text {
    color: #000;
    text-align: center;
    font-family: 'Bitter', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.strong-points_list-title {
    color: #000;
    font-family: 'Playfair Display';
    font-size: 86px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 86px */
}

.strong-points_list {
    color: #000;
    font-family: 'Bitter', serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}